---
layout: default
---
<div class="post">
  <header class="post-header">
    <!---
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name}}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    -->
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    {% comment %} News {% endcomment %}
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    {% comment %} Latest posts {% endcomment %}
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    {% comment %} Selected papers {% endcomment %}
    {% if page.selected_papers %}
      <div style="height: 1rem;"></div>
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    {% comment %} Education {% endcomment %}
    {% if page.education %}
      <h2>Education</h2>
      {%  assign sorted_educations =  site.data.about_more.education | sort: "order" | reverse %} 
      <div class="experiences">
        <ol>
          {% for edu_item in sorted_educations %}
            <li>
              <div class="row">
                <div class="col-sm-2 text-center">
                  <img class="logo" src="{{edu_item["logo"]}}"/>
                  </div>
                <div class="col-sm-10 content">
                  <div class="title">{{edu_item["school"]}}</div>
                  {{edu_item["title"]}}
                  {%- if edu_item["year"] != "" -%}
                    ,&nbsp;{{edu_item["year"]}}<br>
                  {%- endif -%}
                  <div class="description">{{edu_item["description"]}}</div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}


    {% comment %} Work Experience {% endcomment %}
    {% if page.experience %}
      <h2>Work experience</h2>
      {%  assign sorted_experiences = site.data.about_more.experience | sort: "order" | reverse %} 
      <div class="experiences">
        <ol>
          {% for exp_item in sorted_experiences %}
            <li>
              <div class="row">
                <div class="col-sm-2 text-center">
                  <img class="logo" src="{{exp_item["logo"]}}"/>
                  </div>
                <div class="col-sm-10 content">
                  <div class="title">{{exp_item["title"]}}</div>
                  {{exp_item["venue"]}}
                  {%- if exp_item["year"] != "" -%}
                    ,&nbsp;{{exp_item["year"]}}<br>
                  {%- endif -%}
                  <div class="description">{{exp_item["description"]}}</div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
    
    {% comment %} Award {% endcomment %}
    {% if page.award %}
      <h2>Award</h2>
      {%  assign sorted_award = site.data.about_more.award | sort: "order" %} 
      <div class="award">
        <ul>
          {% for item in sorted_award %}
            <li>
              <div class="title">{{item.title}}</div>
            </li>
            <div class="description">{{item.description}}</div>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% comment %} Service {% endcomment %}
    {% if page.service %}
      <h2>Community service</h2>
      {%  assign sorted_serice = site.data.about_more.service | sort: "order" %} 
      <div class="service">
        <ul>
          {% for item in sorted_serice %}
            <li>
              <div class="title">{{item.title}}</div>
            </li>
            <div class="description">{{item.description}}</div>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% comment %} Social {% endcomment %}
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>